.test {
    background-size: cover;
    // background-attachment: fixed;
    // background-position: top;
    // width: 80%;
    // height: 130%;
    position: fixed;
    // position: absolute;
    // position: ;
    z-index: 0 !important;
    top: -0%;
    opacity: 0.8;
    filter: blur(2px);
}
