/* .myObject {
    some styles here
  } */

.myObject.selected {
  // background-color: blue;
  /* some other styles here */
}
.active {
  font-weight: bold;
  background-color: #61cf93;
  // height: 100%;
  // width: 200px !important;
  color: #3e3e3e8c !important;
  text-decoration: none;
}
